### Target Vendor/Product (support only Ralink RT3883/MT7620/MT7621/MT7628)
CONFIG_VENDOR=XIAOMI
CONFIG_PRODUCT=MT7621

### Target ProductID (board select, max 23 ASCII symbols)
CONFIG_FIRMWARE_PRODUCT_ID="MI-R3Gv2"

############################################################
### Linux kernel configuration
############################################################

### Enable MT7621 CPU sleep mode (downclock to 220MHz on idle)
CONFIG_FIRMWARE_CPU_SLEEP=y

### Kernel driver select for WiFi AP 2.4GHz
CONFIG_FIRMWARE_WIFI2_DRIVER=4.1

### Kernel driver select for WiFi AP 5GHz
CONFIG_FIRMWARE_WIFI5_DRIVER=3.0

### Enable IPv6 support
CONFIG_FIRMWARE_ENABLE_IPV6=y

### Enable FUSE (filesystems in userspace) support. ~0.1MB
CONFIG_FIRMWARE_ENABLE_FUSE=y

### Include XFRM (IPsec) modules & iptables extension ~ 0.2MB
CONFIG_FIRMWARE_INCLUDE_XFRM=y

### Include IPSet utility and kernel modules. ~0.4MB
CONFIG_FIRMWARE_INCLUDE_IPSET=y

### Include Shortcut Forward Engine
CONFIG_FIRMWARE_INCLUDE_SHORTCUT_FE=y

############################################################
### Userspace configuration
############################################################

### Include WebUI international resources
CONFIG_FIRMWARE_INCLUDE_LANG_RU=y

### Include alternative L2TP control client RP-L2TP. ~0.1MB
CONFIG_FIRMWARE_INCLUDE_RPL2TP=y

### Include EAP-TTLS and EAP-PEAP authentication support. openssl ~1.2MB
CONFIG_FIRMWARE_INCLUDE_EAP_PEAP=y

### Include HTTPS support for DDNS client. openssl ~1.2MB
CONFIG_FIRMWARE_INCLUDE_DDNS_SSL=y

### Include HTTPS support. openssl ~1.2MB
CONFIG_FIRMWARE_INCLUDE_HTTPS=y

### Include sftp-server. openssl ~1.2MB, sftp-server ~0.06MB
CONFIG_FIRMWARE_INCLUDE_SFTP=y

### Include OpenSSH instead of dropbear. openssl ~1.2MB, openssh ~1.0MB
CONFIG_FIRMWARE_INCLUDE_OPENSSH=y

### Include OpenVPN. IPv6 required. openssl ~1.2MB, openvpn ~0.4MB
CONFIG_FIRMWARE_INCLUDE_OPENVPN=y

### Include Wireguard VPN module and utility
CONFIG_FIRMWARE_INCLUDE_WIREGUARD=y

### Include AmneziaWG kernel module (obfuscated WireGuard)
CONFIG_FIRMWARE_INCLUDE_AMNEZIAWG=y

### Include Elliptic Curves (EC) to openssl library. ~0.1MB
CONFIG_FIRMWARE_INCLUDE_OPENSSL_EC=y

### Include "openssl" executable for generate certificates. ~0.4MB
CONFIG_FIRMWARE_INCLUDE_OPENSSL_EXE=y

### Include TOR proxy ~2.8MB
CONFIG_FIRMWARE_INCLUDE_TOR=y

### Include GeoIP database info for TOR proxy ~0.7MB
CONFIG_FIRMWARE_INCLUDE_TOR_GEOIP=y

### Include IPv6 GeoIP database info for TOR proxy ~0.6MB
CONFIG_FIRMWARE_INCLUDE_TOR_GEOIPV6=y

### Include OBFS4 for TOR ~6.1MB
CONFIG_FIRMWARE_INCLUDE_OBFS4=y

### Include doh_proxy DNS-over-HTTPS (DoH) ~0.4MB
CONFIG_FIRMWARE_INCLUDE_DOH=y

### Include WPAD support
CONFIG_FIRMWARE_INCLUDE_WPAD=y

### Include compressed memory support
CONFIG_FIRMWARE_INCLUDE_ZRAM=y

### Include LUA support ~0.2MB
CONFIG_FIRMWARE_INCLUDE_LUA=y

### Include EoIP Ethernet Tunnels over IP ~0.01MB
CONFIG_FIRMWARE_INCLUDE_EOIP=y

### Include Curl support ~0.15MB
CONFIG_FIRMWARE_INCLUDE_CURL=y

### Include QUIC support in Curl, openssl 3.5 required ~0.4MB
CONFIG_FIRMWARE_INCLUDE_QUIC=y

### Include openssl 3.5 (required for QUIC)
CONFIG_FIRMWARE_INCLUDE_OPENSSL_35=y

### Include NFQWS (zapret) ~0.1MB
CONFIG_FIRMWARE_INCLUDE_NFQWS=y

### Include "tcpdump" utility. ~0.6MB
CONFIG_FIRMWARE_INCLUDE_TCPDUMP=y

### Include "socat" utility ~0.3MB
CONFIG_FIRMWARE_INCLUDE_SOCAT=y

### Reduce trx image size (important for 16MB SPI flash!)
CONFIG_CC_OPTIMIZE_FOR_SIZE=y
